.border{
	border: 2px solid red;
}
.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url("myimage/architecture-blue-sky-buildings-357271.jpg") ;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
}
.hero1{
	background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url("myimage/alabama-architecture-auburn-university-207692.jpg") ;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 500px;
	width: 100%;
    background-attachment: fixed;
}
.center{
   position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% ,-50%);
}
.center1{
   position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% ,-50%);
  }
 
  @media screen and (min-width: 758px) {
  	 .font1{
  	 	font-size: 52px;
       font-family: 'Roboto', sans-serif;

  	 }
  	 .font2{
  	 	font-size: 23px;
  	 }
  }
  @media screen and (max-width: 757px) {
  	  .font1{
  	  	font-size: 25px;
         font-family: 'Roboto', sans-serif;

  	  }
  	  .font2{
  	  	font-size: 18px;
  	  }
  }
 /* font-family: 'Roboto', sans-serif;
  font-family: 'Asap', sans-serif;*/
  body{
  font-family: 'Open Sans', sans-serif;


  }
  /*======lime height======*/
  .p-text{
  	line-height: 2rem;
  }
  .hero2{
  	background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url("myimage/architecture-bungalow-chimney-1569003.jpg") ;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 500px;
	width: 100%;
    background-attachment: fixed;
  }
  .center2{
   position: absolute;
	top: 50%;
	transform: translate(10%,-50%);


  }
  /*=======footer color====*/
  .bg{
  	background-color: #d5d5d5;
  }
  /*==============================about page ==================================================================================*/
  /*====================2nd sction background color========*/
  .section-bg{
       background-color: #CCC3C3;
  }
  /*=====our athority===================*/
  .section-bg1{
  	background-color: #BCBCBC;
  }
  /*===================3rd section===========*/
  .section-bg2{
  	background-color: #BBBBBB;
  }
  /*============================staf page==============================================================================================*/
 /*================ =======2nd section bg color =========================*/
 .section-bg3{
  background-color: #C8C7C7;
 }
 .border-style{
  border-bottom: 2px dotted;
  width: 180px;
  margin: auto;
  line-height: 18px;
  padding-bottom: 10px;
 }