.border {
    border: 2px solid red;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../myimage/architecture-blue-sky-buildings-357271.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.hero1 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../myimage/alabama-architecture-auburn-university-207692.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    background-attachment: fixed;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.service img {
    width: 200px;
    height: 230px;
    margin: auto;
    display: block;
}

.img {
    width: 200px;
    height: 230px;
    margin: auto;
    display: block;
}

.cont {
    position: relative;
    padding-bottom: 15px;
}

.svc-img-1 {
    width: 200px;
    height: 232px;
    margin: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../myimage/slide2.jpg");
    background-size: cover;

    border-radius: 200%;
}

.svc-img-3 {
    width: 200px;
    height: 232px;
    margin: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../myimage/apartment-bed-bedroom-271624.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 200%;
}

.svc-img-2 {
    width: 200px;
    height: 232px;
    margin: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../myimage/access-blurred-background-cable-1629299.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 200%;
}

.btnx {
    width: 127px;
    text-align: center;
    padding: 13px;
    border-radius: 14px;
    background-color: #d75209;
    margin: auto;
    margin-top: -49px;
}

.btn-owl {
    margin-top: -40px;
    margin-left: 40%
}

.borderx {
    background: bisque;
    background-color: #223a6c26;
    border-left: none;
    border-right: none;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
}

.svc-caption {
    width: 79%;
    margin: auto;
    color: #5a5656;
    padding-bottom: 50px;
    text-align: center;
}

.citm1 {
    /*background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../myimage/computer-cooperation-coworking-1543895.jpg");
    background-size: cover;
    background-position: center;*/
    background-color: red;
}

.ht {
    height: 500px;
    width: 100%;
    height: 500px;
}

@media screen and (min-width: 255px) {
    .center1 {
        width: 82%;
    }
}

@media screen and (min-width: 758px) {
    .font1 {
        font-size: 52px;
        font-family: 'Roboto', sans-serif;

    }

    .font2 {
        font-size: 23px;
    }

    .center1 {
        width: auto;
    }
}

@media screen and (max-width: 757px) {
    .font1 {
        font-size: 25px;
    }

    .font2 {
        font-size: 18px;
    }
}


/*======line height======*/
.p-text {
    line-height: 2rem;
}

.hero2 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../myimage/architecture-bungalow-chimney-1569003.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    background-attachment: fixed;
}

.center2 {
    position: absolute;
    top: 50%;
    transform: translate(10%, -50%);


}

/*=======footer color====*/
.bg {
    background-color: #d5d5d5;
}

/*==============================about page ==================================================================================*/
/*====================2nd sction background color========*/
.section-bg {
    background-color: #CCC3C3;
}

/*=====our athority===================*/
.section-bg1 {
    background-color: #BCBCBC;
}

/*===================3rd section===========*/
.section-bg2 {
    background-color: #BBBBBB;
}

/*============================staf page==============================================================================================*/
/*================ =======2nd section bg color =========================*/
.section-bg3 {
    background-color: #C8C7C7;
}

.border-style {
    border-bottom: 2px dotted;
    width: 180px;
    margin: auto;
    line-height: 18px;
    padding-bottom: 10px;
}

/*======login box shadow=====*/
.box {
    box-shadow: 0px 0px 20px 3px;
}

/*========report page=================*/
.background {
    border-top: 3px solid orange;
}